body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 47, 85);
}
.slider {
    width: 85vh;
    height: 60vh;
    border-radius: 20px;
    overflow: hidden;
}
.sliders {
    width: 500%;
    height: 80vh;
    display: flex;
}
.sliders input {
    display: none;
}
.slide {
    width: 20%;
    transition: 1s;
}
.slide img {
    width: 100%;
    height: 100%;
}
.navigation-manual {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.manual_btn {
    border: 2px solid black;
    width: 10px;
    height: 10px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 10px;
    background-color: rgb(55, 80, 121);
}
.manual_btn:hover {
    background-color: rgb(255, 255, 255);
}
.manual_btn:active {
    background-color: rgb(155, 30, 30);
}

#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -20%;
}
#radio3:checked ~ .first {
    margin-left: -40%;
}
#radio4:checked ~ .first {
    margin-left: -60%;
}
.text {
    display: flex;
    width: 200px;
    height: 30px;
    overflow: hidden;
    color: cornsilk;
    font-size: 20px;
}
.text_ran {
    width: 200px;
    height: 100%;
}
